.container::before {
   content: '';
   z-index: -1;
   position: absolute;
   width: 200%;
   height: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(35deg);
   padding-bottom: 200%;
   background: linear-gradient(145deg, var(--dots), transparent 75%);
   z-index: 0;
   mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='10'/%3E%3C/svg%3E") center/16px repeat;
}

.image {
   animation: mover 4s ease-in-out infinite alternate;
}

.separator {
   max-width: 1200px;
}

@keyframes mover {
   0% {
      transform: translateY(0);
   }

   100% {
      transform: translateY(-15px);
   }
}